.contain {
    button {
        height: 30px;
        color: #fff;
        border-radius: 0 10px 10px 0;
        background-color: black;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: 0.8s;
            background-color: rgba(0, 0, 0, 0.5);
            // outline: none;
            border: none;
        }
    }
}